<div class="row">
	<div class="col-xs-12 col-md-12">
		<div class="col-xs-3 col-md-3">
			<input type="hidden" id="listTypeLabel" th:value="*{listTypeLabel}"></input>
			<strong class="sub-content-heading" th:text="#{sample.list.header}">Sample List</strong>
			<span
				class="sub-content-heading control-label-bold control-label-italic"
				th:text="*{listName}"></span>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-md-12">
		<div class="col-xs-7 col-md-7 fbk-advance-label-pos">
			<span th:text="#{advancing.study.entries.total}"
				class="control-label advanced-list-label">Total Entries:</span> 
			<span class="control-label control-label-bold advance-list-size advanced-list-label"
				th:id="*{'numberOfEntries' + listId}" th:text="*{totalNumberOfGermplasms}"></span>

			&nbsp;&nbsp;&nbsp;
			 
			<span th:text="#{list.number.of.selected}" class="control-label control-label-italic advanced-list-label">Selected:</span>
			<span class="control-label control-label-bold control-label-italic advance-list-size advanced-list-label numberOfSelected" th:id="'numberOfSelected-' + *{listId}">0</span>
		</div>
		<div class="pull-right" th:if="*{totalNumberOfGermplasms > 0}">
			<div class="col-md-12" th:if="*{hasDeleteSamplePermission or hasExportSampleListPermission}">
			<div class="btn-group">
					<button type="button" th:id="*{'listActionButton' + listId}"
						class="btn btn-info dropdown-toggle fbk-action-btn"
						data-toggle="dropdown">
						<span th:text="#{sample.list.actions}">Sample List Actions</span>
					</button>
					<ul class="dropdown-menu fbk-right-button-drop-down" role="menu">
						<li class="withMeasurementsOnly" th:id="*{'generateStockListMenuItem' + listId}">
							<a th:if="*{hasExportSampleListPermission}" href="javascript: void(0)"
							   th:onclick="'javascript: ExportSampleList.exportFile('+ *{listId} + ',\'' + *{listName} + '\');'"
							   th:text="#{export.sample.list}">
								Export sample list</a>
							<a th:if="*{hasDeleteSamplePermission}" href="javascript: void(0)"></a>
						</li>
						<li>
							<a th:if="*{hasManageStudiesPermission}" href="javascript: void(0)"
														 th:onclick="'openDeleteSampleEntryConfirmation('+ *{listId} + ',\'' + *{listName} + '\');'"
														 th:text="#{delete.sample.list.entries}">
							Delete selected samples</a>
						</li>
						<li class="dropdown-submenu pull-left">
							<a th:if="*{showImportGenotypes}" th:id="*{'importGenotypesAction' + listId}" href="#"
							   th:text="#{sample.list.import.genotypes}">
								Import Genotypes Options</a>
							<ul class="dropdown-menu" style="margin-left: -20px;">
								<li>
									<a th:if="*{showImportGenotypesFromGigwa}" href="javascript: void(0)" th:onclick="'javascript: importGenotypesFromGigwa('+ *{listId} + ');'"
									   th:text="#{sample.list.import.from.gigwa}">
										Import from Gigwa
									</a>
								</li>
								<li>
									<a th:if="*{showImportGenotypesFromFile}" href="javascript: void(0)" th:onclick="'javascript: importGenotypesFromFile('+ *{listId} + ');'"
									   th:text="#{sample.list.import.from.file}">
										Import from File
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" th:src="@{/static/js/trialmanager/exportSampleList.js}"></script>

<div class="row">&nbsp;</div>
<div class="row col-xs-12 col-md-12" id="inventory-germplasm-list">
	<div th:include="/Common/includes/listSampleList"></div>
</div>
