<div class="list-details">
<div class="row">
	<div class="col-xs-12 col-md-12">
		<div class="popover-label-padding">
			<label class="control-label control-label-bold " th:text="#{germplasm.list.name}">List Name:</label>
		</div>
		<label class="germplasm-header-details" id="list-name"></label>
	</div>	
</div>
<div class="row">
	<div class="col-xs-12 col-md-12">
		<div class="popover-label-padding">
			<label class="control-label control-label-bold" th:text="#{germplasm.list.owner}">List Owner:</label>
		</div>
		<label class="germplasm-header-details" id="list-owner"></label>
	</div>		
</div>
<div class="row">
	<div class="col-xs-12 col-md-12">
		<div class="popover-label-padding">
			<label class="control-label control-label-bold" th:text="#{germplasm.list.status}">Status:</label>
		</div>
		<label class="germplasm-header-details" id="list-status"></label>
	</div>	
</div>
<div class="row">
	<div class="col-xs-12 col-md-12">
		<div class="popover-label-padding">
			<label class="control-label control-label-bold" th:text="#{germplasm.list.description}">Description:</label>
		</div>
		<label class="germplasm-header-details" id="list-description"></label>
	</div>	
</div>
<div class="row">
	<div class="col-xs-12 col-md-12">
		<div class="popover-label-padding">
			<label class="control-label control-label-bold" th:text="#{germplasm.list.type}">Type:</label>
		</div>
		<label class="germplasm-header-details" id="list-type"></label>
	</div>	
</div>
<div class="row">
	<div class="col-xs-12 col-md-12">
		<div class="popover-label-padding">
			<label class="control-label control-label-bold" th:text="#{germplasm.list.date}">Date:</label>
		</div>
		<label class="germplasm-header-details" id="list-date"></label>
	</div>	
</div>
<div class="row">
	<div class="col-xs-12 col-md-12">
		<div class="popover-label-padding">
			<label class="control-label control-label-bold " th:text="#{germplasm.list.notes}">Notes:</label>
		</div>
		<label class="germplasm-header-details" id="list-notes"></label>
	</div>	
</div>
<div class="row">
	<div class="col-xs-12 col-md-12">
		<div class="popover-label-padding">
			<label class="control-label control-label-bold" th:text="#{germplasm.list.total.entries}">Total Entries:</label>
		</div>
		<label class="germplasm-header-details" id="list-total-entries"></label>
	</div>	
</div>
</div>

<div layout:fragment="page-script">
<script type='text/javascript' th:inline="javascript">
	//<![CDATA[
		/*globals console, changeBrowseGermplasmButtonBehavior, chooseListNode, chooseList, showListTreeToolTip*/
		/*glboals getMessageErrorDiv, showErrorMessage, moveGermplasm*/
		/*exported displayGermplasmListTree, cannotMove,hasChildrenString,pleaseChooseFolder,openTreeType*/
		/*exported getDisplayedTreeName*/

			var cannotMove = /*[[#{browse.study.move.can.not}]]*/ '',
				hasChildrenString = /*[[#{browse.study.move.has.children}]]*/ '',
				pleaseChooseFolder = /*[[#{import.germplasm.choose.a.list}]]*/ '',
				germplasmFocusNode = null,
				openTreeType = 0,
                selectListFunction;
			
			function getDisplayedTreeName(){
				'use strict';
				if($('#listTreeModal').hasClass('in') === true){
					return 'germplasmTree';
				}
				else if($('#saveListTreeModal').hasClass('in') === true){
					return 'germplasmFolderTree';
				}
				else if($('#saveSampleListTreeModal').hasClass('in') === true){
					return 'sampleFolderTree';
				}
			}
			function getDisplayedModalSelector(){
				'use strict';
				if($('#listTreeModal').hasClass('in') === true){
					return '#listTreeModal';
				}
				else if($('#saveListTreeModal').hasClass('in') === true){
					return '#saveListTreeModal';
				}
				else if($('#saveSampleListTreeModal').hasClass('in') === true){
					return '#saveSampleListTreeModal';
				}
			}
			function getMessageErrorDiv(){
				'use strict';
				var msgDiv = 'page-import-message-modal';
				if(getDisplayedTreeName() === 'germplasmFolderTree'){
					msgDiv = 'page-save-list-message-modal';
				}
				return msgDiv;
			}
			var germplasmTreetable;
			function displayGermplasmListTreeTable(divId) {
				'use strict';

				var baseurl = '/bmsapi/crops/' + cropName + '/germplasm-list-folders';
				germplasmTreetable = new TreeTable({
					baseurl: '/Fieldbook/ListTreeManager',
					treeTableSelector: '#treeTable',
					tableContainer: $('#germplasmTree'),
					authparams: {},
					context: $('.manageGermplasmContext'),
					crop: cropName,
					ondblclick: function (elem) {
						var id = elem.closest('[data-tt-id]').data('ttId');
						ListTable.chooseList();
					},
					create: function (parentFolderId, folderName) {
						var xAuthToken = JSON.parse(localStorage["bms.xAuthToken"]).token;

						return $.ajax({
							url:  baseurl + '?folderName=' + folderName + '&parentId=' + parentFolderId + '&programUUID=' + currentProgramId,
							type: 'POST',
							beforeSend: function (xhr) {
								xhr.setRequestHeader('X-Auth-Token', xAuthToken);
							},
							error: function (data) {
								if (data.status == 401) {
									bmsAuth.handleReAuthentication();
								} else {
									showErrorMessage('page-add-germplasm-folder-message-modal', data.responseJSON.errors[0].message);
									return $.Deferred().reject(data).promise();
								}
							},
							success: function(data) {
								return $.Deferred().resolve(data).promise();
							}
						});
					},
					move: function (sourceNode, targetNode) {
						var xAuthToken = JSON.parse(localStorage["bms.xAuthToken"]).token;
						var targetId = targetNode.id;
						return $.ajax({
							url: baseurl + '/' + sourceNode.id + '/move?newParentId=' + targetId + '&programUUID=' + currentProgramId,
							type: 'PUT',
							beforeSend: function (xhr) {
								xhr.setRequestHeader('X-Auth-Token', xAuthToken);
							}
						});
					},
					rename: function (id, folderName) {
						var xAuthToken = JSON.parse(localStorage["bms.xAuthToken"]).token;
						return $.ajax({
							url:  baseurl + '/' + id + '?newFolderName=' + folderName + '&programUUID=' + currentProgramId,
							type: 'PUT',
							beforeSend: function (xhr) {
								xhr.setRequestHeader('X-Auth-Token', xAuthToken);
							},
							error: function (data) {
								if (data.status == 401) {
									bmsAuth.handleReAuthentication();
								} else {
									showErrorMessage('page-rename-germplasm-folder-message-modal', data.responseJSON.errors[0].message);
									return $.Deferred().reject(data).promise();
								}
							},
							success: function (data) {
								return $.Deferred().resolve(data).promise();
							}
						});
					},
					delete: function (folderId) {
						var xAuthToken = JSON.parse(localStorage["bms.xAuthToken"]).token;
						return $.ajax({
							url: baseurl + '/' + folderId + '?programUUID=' + currentProgramId,
							type: 'DELETE',
							beforeSend: function(xhr) {
								xhr.setRequestHeader('X-Auth-Token', xAuthToken);
							},
							error: function (data) {
								if (data.status == 401) {
									bmsAuth.handleReAuthentication();
								} else {
									showErrorMessage('page-delete-germplasm-folder-message-modal', data.responseJSON.errors[0].message);
									return $.Deferred().reject(data).promise();
								}
							},
							success: function(data) {
								return $.Deferred().resolve(data).promise();
							}
						});
					}
				});
				germplasmTreetable.init().done(function () {
					setTimeout(function () {
						germplasmTreetable.expandListInTreeTable('LISTS');
					});
				});
			}
//]]>
</script>
</div>
