<div class="modal-content">
	<div class="modal-body" >
		<div class="row">
			<div class="col-xs-11 col-md-11">
				<label class="modal-title fbk-modal-title" id="heading-modal">STA BrAPP <b>(Beta)</b></label>
			</div>
			<div class="col-xs-1 col-md-1">
				<button class="close pull-right glyphicon glyphicon-remove" data-dismiss="modal" ng-click="cancel()"/>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">&nbsp;</div>
		</div>
		<form class="form-horizontal">
			<div class="form-group">
				<label class="col-md-2 control-label control-label-bold">
					STA BrAPP url:
				</label>
				<div class="col-md-6">
					<input class="form-control" ng-model='stabrappUrl' />
				</div>
				<div class="col-md-4">
					<button class="btn btn-primary" ng-click="load()">Load</button>
				</div>
			</div>
		</form>
	</div>
</div>
