<?xml version="1.0" encoding="UTF-8"?>
<bean:beans xmlns:bean="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http pattern="/static/**" security="none"/>
	<http pattern="/pages/**" security="none"/>
	<http pattern="/dynamic/**" security="none" />

	<http auto-config="true" use-expressions="true">		

		<!--MANAGE_STUDIES-->
		<intercept-url pattern="/TrialManager/**" access="hasAnyAuthority('ROLE_ADMIN',
		 	'ROLE_STUDIES',
		 	'ROLE_MANAGE_STUDIES',
		 	'ROLE_CREATE_STUDIES',
		 	'ROLE_MS_MANAGE_FILES_OBSERVATIONS',
		 	'ROLE_MS_CREATE_LOTS',
			'ROLE_CLOSE_STUDY',
			'ROLE_DELETE_STUDY',
			'ROLE_LOCK_STUDY',
			'ROLE_MS_GERMPLASM_AND_CHECKS',
			'ROLE_MS_VIEW_GERMPLASM_AND_CHECKS',
			'ROLE_MS_ADD_ENTRY_DETAILS_VARIABLES',
			'ROLE_MS_MODIFY_ENTRY_DETAILS_VALUES',
			'ROLE_MS_MODIFY_COLUMNS',
			'ROLE_MS_REPLACE_GERMPLASM',
			'ROLE_MS_ADD_NEW_ENTRIES',
			'ROLE_MS_IMPORT_ENTRY_DETAILS',
			'ROLE_MS_TREATMENT_FACTORS',
			'ROLE_MS_VIEW_TREATMENT_FACTORS',
			'ROLE_MS_ADD_TREATMENT_FACTORS_VARIABLES',
			'ROLE_MS_EXPERIMENTAL_DESIGN',
			'ROLE_MS_VIEW_EXPERIMENTAL_DESIGN',
			'ROLE_MS_GENERATE_EXPERIMENTAL_DESIGN',
			'ROLE_MS_DELETE_EXPERIMENTAL_DESIGN',
			'ROLE_MS_ENVIRONMENT',
			'ROLE_MS_VIEW_ENVIRONMENT',
			'ROLE_MS_ADD_ENVIRONMENTAL_CONDITIONS_VARIABLES',
			'ROLE_MS_ADD_ENVIRONMENT_DETAILS_VARIABLES',
			'ROLE_MS_MODIFY_ENVIRONMENT_VALUES',
			'ROLE_MS_MODIFY_NUMBER_OF_ENVIRONMENTS',
			'ROLE_MS_MANAGE_FILES_ENVIRONMENT',
			'ROLE_MS_STUDY_SETTINGS',
			'ROLE_MS_VIEW_STUDY_SETTINGS',
			'ROLE_MS_ADD_STUDY_SETTINGS_VARIABLES',
			'ROLE_MS_CROSSES_AND_SELECTIONS',
			'ROLE_MS_VIEW_CROSSES_AND_SELECTIONS',
			'ROLE_MS_INVENTORY',
			'ROLE_MS_VIEW_INVENTORY',
			'ROLE_MS_SAMPLE_LISTS',
			'ROLE_MS_VIEW_SAMPLE_LISTS',
			'ROLE_MS_EXPORT_SAMPLE_LIST',
			'ROLE_MS_DELETE_SAMPLES',
			'ROLE_MS_IMPORT_GENOTYPES',
			'ROLE_MS_SAMPLE_GENOTYPES',
			'ROLE_MS_VIEW_SAMPLE_GENOTYPES',
			'ROLE_MS_SSA_RESULTS',
			'ROLE_MS_VIEW_SSA_RESULTS',
			'ROLE_MS_SSA_SUMMARY_STATISTICS',
			'ROLE_MS_SSA_MEANS_BLUE',
			'ROLE_MS_OBSERVATIONS',
			'ROLE_MS_VIEW_OBSERVATIONS',
			'ROLE_MS_ADD_OBSERVATION_TRAIT_VARIABLES',
			'ROLE_MS_ADD_OBSERVATION_SELECTION_VARIABLES',
			'ROLE_MS_MANAGE_PENDING_OBSERVATIONS',
			'ROLE_MS_MANAGE_CONFIRMED_OBSERVATIONS',
			'ROLE_MS_ACCEPT_PENDING_OBSERVATION',
			'ROLE_MS_STUDY_ACTIONS',
			'ROLE_MS_CREATE_GENOTYPING_SAMPLES',
			'ROLE_MS_EXECUTE_CALCULATED_VARIABLES',
			'ROLE_MS_DESIGN_AND_PLANNING_OPTIONS',
			'ROLE_MS_EXPORT_DESIGN_TEMPLATE',
			'ROLE_MS_CREATE_PLANTING_LABELS',
			'ROLE_MS_ADVANCES',
			'ROLE_MS_ADVANCE_STUDY',
			'ROLE_MS_ADVANCE_STUDY_FOR_PLANTS',
			'ROLE_MS_ANALYZE_WITH_STA_BRAPP',
			'ROLE_MS_ANALYZE_WITH_DECISION_SUPPORT',
			'ROLE_MS_EXPORT_STUDY_BOOK',
			'ROLE_MS_EXPORT_STUDY_ENTRIES',
		 	'ROLE_MS_MANAGE_OBSERVATION_UNITS',
		 	'ROLE_MS_WITHDRAW_INVENTORY',
		 	'ROLE_MS_CREATE_PENDING_WITHDRAWALS',
		 	'ROLE_MS_CREATE_CONFIRMED_WITHDRAWALS',
		 	'ROLE_MS_CANCEL_PENDING_TRANSACTIONS',
		 	'ROLE_MS_CREATE_SUB_OBSERVATION_UNITS',
			'ROLE_MS_CHANGE_PLOT_ENTRY',
			'ROLE_MS_CROSSING_OPTIONS',
			'ROLE_MS_EXPORT_CROSSING_TEMPLATE',
			'ROLE_MS_IMPORT_CROSSES',
			'ROLE_MS_DESIGN_NEW_CROSSES',
			'ROLE_MS_FIELD_MAP_OPTIONS',
			'ROLE_MS_MAKE_FIELD_MAP',
			'ROLE_MS_VIEW_FIELD_MAP',
			'ROLE_MS_DELETE_FIELD_MAP',
			'ROLE_MS_CREATE_GEOREFERENCE',
			'ROLE_MS_EDIT_GEOREFERENCE'
		)"/>
		<!--IMPORT_DATASETS-->
		<intercept-url pattern="/etl" access="hasAnyAuthority('ROLE_ADMIN', 'ROLE_STUDIES', 'ROLE_IMPORT_DATASETS')"/>

		<intercept-url pattern="/**" access="isAuthenticated()" />
		<custom-filter position="PRE_AUTH_FILTER" ref="bmsPreAuthenticationFilter" />
		<access-denied-handler error-page="/accessDenied"/>
	</http>
	
	<!-- Must use AspectJ mode for using method level security annotations on Vaadin component beans. -->
	<global-method-security pre-post-annotations="enabled" mode="aspectj" proxy-target-class="true"/>

	<bean:bean id="preAuthenticatedAuthenticationProvider" 
			class="org.springframework.security.web.authentication.preauth.PreAuthenticatedAuthenticationProvider">
		<bean:property name="preAuthenticatedUserDetailsService" ref="preAuthenticatedUserDetailsService" />
	</bean:bean>
	
	<bean:bean id="preAuthenticatedUserDetailsService" 
			class="org.springframework.security.web.authentication.preauth.PreAuthenticatedGrantedAuthoritiesUserDetailsService" />
	
	<bean:bean id="bmsPreAuthenticatedUsersRolePopulator" 
			class="org.generationcp.commons.security.BMSPreAuthenticatedUsersRolePopulator" />
  
  	<!-- This filter checks to see if the user is already authenticated by an external system (in BMS case it is the Workbench). 
		If already authenticated, lets the user in directly.  -->
	<bean:bean id="bmsPreAuthenticationFilter" class="org.generationcp.commons.security.BMSPreAuthenticationFilter">
		<bean:property name="authenticationManager" ref="bmsAuthenticationManager" />
		<bean:property name="authenticationDetailsSource" ref="bmsPreAuthenticatedUsersRolePopulator"/>
		<bean:property name="checkForPrincipalChanges" value="true"/>
		<bean:property name="invalidateSessionOnPrincipalChange" value="false"/>
	</bean:bean>
	
	<bean:bean id="workbenchUserDetailsService" class="org.generationcp.commons.security.WorkbenchUserDetailsService">
		<bean:property name="userService" ref="userService" />
	</bean:bean>

	<authentication-manager alias="bmsAuthenticationManager">
		<authentication-provider ref="preAuthenticatedAuthenticationProvider" />
		<authentication-provider user-service-ref="workbenchUserDetailsService">
			<password-encoder hash="bcrypt" />
		</authentication-provider>
	</authentication-manager>

</bean:beans>
